body{
    padding: 0;
    margin: 0;
    background-color: #111827;
    font-family: 'Sofia', sans-serif;
    color: white;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 0 10% 0 10%;
}
.logo{
    width: 70px;
    height: auto;
    margin: 1em 0 1em 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navbar li{
    padding: 0 1em 0 1em;
    list-style: none;
    text-decoration: none;
}
.navbar li a{
    font-weight: 400;
    font-size: medium;
    text-decoration: none;
    color: white;
}
.navbar li a:hover{
    color: #FB8734;
}
.compte{
    border-radius: 50%;
    width: 42px;
    height: 40px;
}
hr{
    color: #374151;
    padding: 0%;
    margin: 0%;
}
/* MAIN */
.menu{
    background-color: #1F2937;
    padding: 4em;
}
.card img{
    width: 100px;
    height: auto;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
